@model BoxApplication.Models.BoxUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BoxUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxEmail.ADEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxSpaceUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxSpaceUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxDateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxDateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxDateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxDateModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BoxID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
