@model IEnumerable<BoxApplication.Models.BoxUsers>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BoxID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoxName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoxLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoxSpaceUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoxDateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoxDateModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxLogin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxSpaceUsed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxDateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxDateModified)
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="form-group">
    <a asp-action="RemoveInactiveAccounts">Remove Inactive Users</a>
</div>

