@model IEnumerable<Box.V2.Models.BoxUser>

@{
    ViewData["Title"] = "Index";
}
<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpaceUsed)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpaceUsed)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedAt)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.BoxID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BoxID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BoxID">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="form-group">
    <a asp-action="RemoveInactiveAccounts">Remove Accounts</a>
</div>

