@model BoxApplication.Models.ApplicationAction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApplicationAction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationActionADUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationActionADUser.ADEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationActionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationActionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationActionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationActionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationActionObjectModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationActionObjectModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationActionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationActionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApplicationActionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
