@model IEnumerable<BoxApplication.Models.ApplicationAction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Search">Search</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationActionADUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationActionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationActionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationActionObjectModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationActionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationActionADUser.ADEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationActionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationActionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationActionObjectModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationActionDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ApplicationActionID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
