@model IEnumerable<BoxApplication.Models.ApplicationAction>

@{
    ViewData["Title"] = "Search";
}


<h1>Search</h1>

<h4>ApplicationAction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstOrDefault().ApplicationActionType" class="control-label"></label>
                <input name="type" class="form-control" />
                <span asp-validation-for="FirstOrDefault().ApplicationActionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstOrDefault().ApplicationActionDescription" class="control-label"></label>
                <input name="description" class="form-control" />
                <span asp-validation-for="FirstOrDefault().ApplicationActionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstOrDefault().ApplicationActionObjectModified" class="control-label"></label>
                <input name="objectModified" class="form-control" />
                <span asp-validation-for="FirstOrDefault().ApplicationActionObjectModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Start date and time</label>
                <input name="startDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="FirstOrDefault().ApplicationActionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">End date and time</label>
                <input name="endDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="FirstOrDefault().ApplicationActionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationActionADUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationActionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationActionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationActionObjectModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationActionDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
         
           <tr>
               <td>
                   @Html.DisplayFor(modelItem => item.ApplicationActionADUser.ADEmail)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.ApplicationActionType)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.ApplicationActionDescription)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.ApplicationActionObjectModified)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.ApplicationActionDate)
               </td>
           </tr>
         
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
