@model IEnumerable<BoxApplication.Models.ActiveDirectoryUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<script type="text/javascript">
    @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
    {
        <text>
        $(document).ready(function () {
            alert('@ViewData.ModelState["Error"].Errors.First().ErrorMessage')
        });
        </text>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ADUsername)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ADFirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ADStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ADDateModified)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ADUsername)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ADFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ADStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ADDateModified)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ADEmail">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ADEmail">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ADEmail">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    }
</script>

