@model IEnumerable<BoxApplication.Models.BoxADUpdate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BoxID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADFieldChanged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoxPreviousData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADNewData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADFieldChanged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxPreviousData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADNewData)
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="form-group">
    <a asp-action="UpdateAccounts">Update Accounts</a>
</div>
